.change-password4450-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
}
input:focus {
  outline: none;
}
.change-password4450-change-password4450 {
  width: 1440px;
  height: 1024px;
  display: flex;
  overflow: hidden;
  position: relative;
  max-width: 1440px;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 0.5);
}
.change-password4450-image {
  top: 72px;
  left: 162px;
  width: 1116px;
  height: 800px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
  border-radius: 0 0 24px 24px;
  background-color: rgba(248, 248, 248, 1);
}
.change-password4450-text {
  top: 164px;
  left: 619px;
  color: rgba(51, 51, 51, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Raleway;
  font-weight: 500px;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
.change-password4450-image1 {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 72px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: rgba(0, 0, 0, 0.20000000298023224);
  border-style: solid;
  border-width: 1px;
  background-color: rgba(255, 255, 255, 0.5);
}
.change-password4450-frame1834463 {
  top: 423px;
  left: 472px;
  width: 497px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  flex-direction: column;
}
.change-password4450-text1 {
  color: rgba(51, 51, 51, 0.6000000238418579);
  height: auto;
  margin: 0 0 16px 0;
  font-size: 14px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Raleway;
  font-weight: 500px;
  line-height: 158.00000429153442%;
  font-stretch: normal;
  text-decoration: none;
}
.change-password4450-group164465 {
  width: 497px;
  height: 59px;
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  background-color: rgba(236, 236, 236, 1);
}
.change-password4450-group184489 {
  top: 17px;
  left: 16px;
  width: 448px;
  height: 26px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.change-password4450-frame154467 {
  top: 0px;
  left: 0px;
  width: 184px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-end;
  flex-shrink: 1;
  border-color: transparent;
}
.change-password4450-iconly-bold-lock4468 {
  width: 26px;
  height: 26px;
  margin: 0 24px 0 0;
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.change-password4450-lock-i44684440 {
  top: 2.1666665077209473px;
  left: 3.791668176651001px;
  width: 18px;
  height: 21.666667938232422px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.change-password4450-svg {
  width: 18;
  height: 22;
  position: absolute;
}
.change-password4450-text2 {
  color: rgba(51, 51, 51, 1);
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Raleway;
  font-weight: 400px;
  line-height: 158.00000429153442%;
  font-stretch: normal;
  text-decoration: none;
  background: transparent;
}
.change-password4450-iconly-bold-show4482 {
  top: 1px;
  left: 425px;
  width: 23px;
  height: 23px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.change-password4450-show4483 {
  top: 3.833333969116211px;
  left: 1.9166383743286133px;
  width: 19px;
  height: 15.333330154418945px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.change-password4450-svg1 {
  width: 19;
  height: 15;
  position: absolute;
}
.change-password4450-frame1844490 {
  top: 290px;
  left: 472px;
  width: 497px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  flex-direction: column;
}
.change-password4450-text3 {
  color: rgba(51, 51, 51, 0.6000000238418579);
  height: auto;
  margin: 0 0 16px 0;
  font-size: 14px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Raleway;
  font-weight: 500px;
  line-height: 158.00000429153442%;
  font-stretch: normal;
  text-decoration: none;
}
.change-password4450-group164492 {
  width: 497px;
  height: 59px;
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  background-color: rgba(236, 236, 236, 1);
}
.change-password4450-group184494 {
  top: 17px;
  left: 16px;
  width: 448px;
  height: 26px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.change-password4450-frame154495 {
  top: 0px;
  left: 0px;
  width: 200px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-end;
  flex-shrink: 1;
  border-color: transparent;
}
.change-password4450-iconly-bold-lock4496 {
  width: 26px;
  height: 26px;
  margin: 0 24px 0 0;
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.change-password4450-lock-i44964440 {
  top: 2.1666665077209473px;
  left: 3.791668176651001px;
  width: 18px;
  height: 21.666667938232422px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.change-password4450-svg2 {
  width: 18;
  height: 22;
  position: absolute;
}
.change-password4450-text4 {
  color: rgba(51, 51, 51, 1);
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Raleway;
  font-weight: 400px;
  line-height: 158.00000429153442%;
  font-stretch: normal;
  text-decoration: none;
  background: transparent;
}
.change-password4450-iconly-bold-show4498 {
  top: 1px;
  left: 425px;
  width: 23px;
  height: 23px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.change-password4450-show-i44984483 {
  top: 3.833333969116211px;
  left: 1.9166383743286133px;
  width: 19px;
  height: 15.333330154418945px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.change-password4450-svg3 {
  width: 19;
  height: 15;
  position: absolute;
}
.change-password4450-group174470 {
  top: 568px;
  left: 570px;
  width: 300px;
  height: 59px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  background-color: rgba(37, 117, 252, 1);
  cursor: pointer;
}
.change-password4450-text5 {
  top: 19px;
  left: 64px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Raleway;
  font-weight: 600px;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
.change-password4450-text6 {
  top: 214px;
  left: 535px;
  color: rgba(51, 51, 51, 0.6000000238418579);
  width: 370px;
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Raleway;
  font-weight: 400px;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
